---
import { AttendMeetup } from '@/meetups/presentation/client/components/attend-meetup/attend-meetup'
import { Link } from '@/ui/components/link'
import { Urls } from '@/ui/urls/urls'

interface Props {
  meetupId: string
  isAttending: boolean
}

const userId = Astro.locals.user?.id
const { meetupId, isAttending } = Astro.props

const hasLoggedUser = !!userId
---

<section class="bg-muted rounded-lg p-3 border border-border space-y-2 w-max">
  <h2 class="text-sm font-medium">Registro</h2>
  {hasLoggedUser && <AttendMeetup client:load meetupId={meetupId} initialAttending={isAttending} />}
  {
    !hasLoggedUser && (
      <>
        <p class="text-sm text-muted-foreground">Debes estar autenticado para poder asistir a este meetup.</p>
        <Link href={Urls.LOGIN} variant="outline" size="sm">
          Iniciar sesión
        </Link>
      </>
    )
  }
</section>
