.atcb-light {
  --btn-background: white;
  --btn-background-hover: #f8fafc;
  --btn-text: rgb(67 56 202);
  --btn-text-hover: rgb(67 56 202);
  display: inline-block;
  margin: 0 auto;
}

:is(.dark .atcb-light) {
  --btn-background: white;
  --btn-background-hover: #f8fafc;
  --btn-text: rgb(225 29 72);
  --btn-text-hover: rgb(225 29 72);
  display: inline-block;
  margin: 0 auto;
}
