---
import Link from '@/ui/components/link/link.astro'
import { SmileyStickerThin } from '@/ui/icons'
import { Urls } from '@/ui/urls/urls'
---

<section class="no-organizations">
  <SmileyStickerThin size="6rem" color="#444" />
  <h3 class="title">Conecta</h3>
  <p class="empty-message">Aún no sigues ni participas en ninguna organización.</p>
  <Link variant="outline" href={Urls.CREATE_ORGANIZATION} classes="create-link">Crear organización</Link>
</section>

<style>
  .no-organizations {
    @apply mt-8 flex flex-col items-center gap-2;
  }
  .title {
    @apply text-xl font-semibold text-black dark:text-gray-100;
  }
  .create-link {
    @apply mt-4;
  }
</style>
