---
import { Calendar } from '@/ui/icons'

interface Props {
  startDate?: string
  endDate?: string
}

const { startDate, endDate } = Astro.props
const shouldShowEndDate = startDate && endDate && startDate !== endDate
---

{
  startDate && (
    <div class="date-period">
      <Calendar />
      <p class="dates">
        {startDate}
        {shouldShowEndDate ? ` - ${endDate}` : ''}
      </p>
    </div>
  )
}

<style>
  .date-period {
    @apply flex shrink-0 items-center gap-px;
  }
  .dates {
    @apply text-sm;
  }
</style>
