---
import { DateFormat, Datetime } from '@/shared/domain/datetime/datetime'
import { Calendar } from '@/ui/icons'

interface Props {
  startsAt?: Date
  endsAt?: Date
  format?: string
}

const { startsAt, endsAt, format = DateFormat.DD_MM_YYYY } = Astro.props
const shouldShowEndDate = startsAt && endsAt && !Datetime.isSameDay(startsAt, endsAt)
---

{
  startsAt && (
    <div class="date-period">
      <Calendar />
      <p class="dates">
        {Datetime.toDateString(startsAt, format)}
        {shouldShowEndDate ? ` · ${Datetime.toDateString(endsAt, format)}` : ''}
      </p>
    </div>
  )
}

<style>
  @reference "../../../../../../styles/global.css";

  .date-period {
    @apply flex shrink-0 items-center gap-px;
  }
  .dates {
    @apply text-sm;
  }
</style>
