{
  "arrowParens": "avoid",
  "printWidth": 120,
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"]
}
