---
import { OrganizationsLocator } from '@/organizations/di/organizations.locator'
import SectionTitle from '@/ui/components/section-title/section-title.astro'
import NoOrganizations from '../no-organizations.astro'

interface Props {
  userId: string
}

const { userId } = Astro.props

const organizations = await OrganizationsLocator.getUserOrganizationsQuery().execute({ userId })
---

<header class="header">
  <SectionTitle>Mis organizaciones</SectionTitle>
</header>
<section class="organizations">
  {organizations.length === 0 && <NoOrganizations />}
</section>

<style>
  .organizations {
    @apply h-full;
  }
</style>
