---
import { type ClassesComponent } from '../../classnames/classes-component'
interface Props extends astroHTML.JSX.ButtonHTMLAttributes, ClassesComponent {
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost' | 'subtle'
}

const { classes, variant = 'primary', ...rest } = Astro.props
---

<button class:list={['button', `button-${variant}`, classes]} {...rest}>
  <slot />
</button>

<style>
  @reference "../../../../../../styles/global.css";

  .button {
    @apply inline-block rounded-full border border-transparent px-4 py-2 text-center text-sm font-medium;
  }

  .button-primary {
    @apply bg-primary hover:bg-primary dark:bg-primary dark:hover:bg-primary text-white dark:text-white;
  }

  .button-secondary {
    @apply bg-background text-primary dark:bg-background dark:text-primary;
  }

  .button-outline {
    @apply border-primary text-primary dark:border-primary-foreground dark:text-primary-foreground;
  }

  .button-subtle {
    @apply border-border bg-background text-foreground hover:bg-background dark:border-border dark:bg-background dark:text-foreground dark:hover:bg-background;
  }
</style>
