---
import { type ClassesComponent } from '../../classnames/classes-component'
interface Props extends astroHTML.JSX.ButtonHTMLAttributes, ClassesComponent {
  variant?: 'primary' | 'secondary' | 'outline' | 'ghost'
}

const { classes, variant = 'primary', ...rest } = Astro.props
---

<button class:list={['button', `button-${variant}`, classes]} {...rest}>
  <slot />
</button>

<style>
  .button {
    @apply inline-block rounded-full border border-transparent px-4 py-2 text-center text-sm font-medium;
  }

  .button-primary {
    @apply bg-primary text-white hover:bg-primary-light dark:bg-primary-light dark:text-white dark:hover:bg-primary-dark;
  }

  .button-secondary {
    @apply bg-background-light text-primary dark:bg-background-dark dark:text-primary-light;
  }

  .button-outline {
    @apply border-primary text-primary dark:border-primary-light dark:text-primary-light;
  }
</style>
