---
interface Props {
  label: string
  classes?: string
}

const { label, classes, ...rest } = Astro.props
---

<label class:list={['base-input', classes]} {...rest}>
  <span class="label">{label}</span>
  <slot />
</label>

<style>
  @reference "../../../../../../../styles/global.css";

  .base-input {
    @apply flex flex-col gap-px;
  }
  .label {
    @apply text-foreground  text-sm font-medium;
  }
</style>
