---
import DeleteLoggedUserModal from '@/authentication/presentation/client/components/delete-logged-user-modal/delete-logged-user-modal.astro'
import Layout from '@/layouts/layout.astro'
import Button from '@/ui/components/buttons/button.astro'
import { Urls } from '@/ui/urls/urls'
import UserProfileModalForm from '@/users/presentation/client/components/user-profile-modal/user-profile-modal-form.astro'
import ProfilePage from '@/users/presentation/server/components/profile-page/profile-page.astro'

const userId = Astro.locals.user?.id

if (!userId) {
  return Astro.redirect(Urls.LOGIN)
}
---

<Layout title="Perfil">
  <ProfilePage userId={userId}>
    <section slot="header" class="actions">
      <Button variant="subtle" id="edit-account-button">Editar perfil</Button>
      <Button variant="outline" id="delete-account-button">Eliminar cuenta</Button>
      <DeleteLoggedUserModal id="user-delete-modal" />
      <UserProfileModalForm id="user-profile-modal" userId={userId} />
    </section>
  </ProfilePage>
</Layout>

<style>
  .actions {
    @apply flex flex-col gap-2;
  }
</style>

<script>
  import type { EwModal } from '@/ui/components/modal/modal'

  const initializeListeners = () => {
    const deleteAccountButton = document.querySelector('#delete-account-button')
    const editAccountButton = document.querySelector('#edit-account-button')
    const deleteModal = document.querySelector<EwModal>('#user-delete-modal')
    const editModal = document.querySelector<EwModal>('#user-profile-modal')

    deleteAccountButton?.addEventListener('click', () => {
      deleteModal?.open()
    })

    editAccountButton?.addEventListener('click', () => {
      editModal?.open()
    })
  }

  document.addEventListener('astro:after-swap', initializeListeners)

  initializeListeners()
</script>
