---
import { Badge } from '@/ui/badge'

interface Props {
  tags: string[]
  tagColor: string
}

const { tags, tagColor } = Astro.props
---

<div class="flex items-center gap-2" transition:animate="fade">
  {
    tags.map((t: string) => (
      <Badge color={tagColor} className="text-white">
        {t.toUpperCase()}
      </Badge>
    ))
  }
</div>
