---
import { NewUrls } from '@/core/ui/urls/urls'
import Layout from '@/layouts/layout.astro'
import GradientTitle from '@/ui/components/gradient-title/gradient-title.astro'
import Link from '@/ui/components/link/link.astro'
---

<Layout title="eventos.wiki - Eventos pasados">
  <div class="flex items-center justify-between">
    <GradientTitle>Eventos pasados</GradientTitle>
    <Link href={NewUrls.EVENTS} classes="text-right shrink-0">Ver próximos</Link>
  </div>
</Layout>
