---
import { EventsLocator } from '@/events/di/events.locator'
import EventsGrid from '@/events/presentation/server/components/events-grid/events-grid.astro'
import Layout from '@/layouts/layout.astro'
import { ProvincesLocator } from '@/provinces/di/provinces.locator'
import GradientTitle from '@/ui/components/gradient-title/gradient-title.astro'
import Link from '@/ui/components/link/link.astro'
import Pagination from '@/ui/components/pagination/pagination.astro'
import { Urls } from '@/ui/urls/urls'

const searchParams = new URL(Astro.request.url).searchParams
const page = searchParams.get('page') ? Number(searchParams.get('page')) : 1
const provinceParam = searchParams.get('province')
let province = undefined

if (provinceParam) {
  province = await ProvincesLocator.getProvinceQuery().execute({ id: provinceParam })
}

const { data: events, totalPages } = await EventsLocator.getPastEventsQuery().execute({
  count: 9,
  page,
  location: province?.name,
})
---

<Layout title="eventos.wiki - Eventos pasados">
  <div class="flex items-center justify-between mb-2">
    <GradientTitle>Eventos pasados</GradientTitle>
    <Link href={Urls.EVENTS} classes="text-right shrink-0">Ver próximos</Link>
  </div>
  <EventsGrid events={events} />
  <section class="mt-4">
    <Pagination totalPages={totalPages} page={page} />
  </section>
</Layout>
