---
import VisuallyHidden from '../visually-hidden/visually-hidden.astro'
---

<VisuallyHidden>Cargando usuario</VisuallyHidden>
<div class="avatar-skeleton" aria-hidden="true"></div>

<style>
  @reference "../../../../../../styles/global.css";

  .avatar-skeleton {
    @apply block h-10 w-10 animate-pulse rounded-full bg-gray-200 dark:bg-gray-700;
  }
</style>
