---
interface Props {
  color?: string
}

const { color = 'bg-gray-500' } = Astro.props
---

<span
  class:list={'flex items-center px-3 py-1.5 leading-none w-auto rounded-full text-xs font-bold uppercase text-white'}
  style={{
    backgroundColor: color,
  }}
>
  <slot />
</span>
