---
import type { ClassesComponent } from '@/ui/classnames/classes-component'

interface Props extends ClassesComponent {}

const { classes, ...rest } = Astro.props
---

<p class:list={['caption', classes]} {...rest}>
  <slot />
</p>

<style>
  @reference "../../../../../../styles/global.css";

  .caption {
    @apply text-caption text-xs;
  }
</style>
