---
import { DeleteLoggedUserModal } from '@/authentication/presentation/client/components/delete-logged-user-modal/delete-logged-user-modal'
import Layout from '@/layouts/layout.astro'
import { GetUserQuery } from '@/users/application/get-user.query'
import { UsersContainer } from '@/users/di/users.container'
import { Urls } from '@/ui/urls/urls'
import { EditUserProfileModalForm } from '@/users/presentation/client/components/user-profile-modal/edit-user-profile-modal'
import ProfilePage from '@/users/presentation/server/components/profile-page/profile-page.astro'

const userId = Astro.locals.user?.id

if (!userId) {
  return Astro.redirect(Urls.LOGIN)
}

const user = await UsersContainer.get(GetUserQuery).execute({ id: userId })
const userPrimitives = user.toPrimitives()
---

<Layout title="Perfil">
  <ProfilePage userId={userId}>
    <section slot="header" class="actions">
      <EditUserProfileModalForm client:idle user={userPrimitives} />
      <DeleteLoggedUserModal client:idle userId={userId} />
    </section>
  </ProfilePage>
</Layout>

<style>
  @reference "../../../styles/global.css";

  .actions {
    @apply flex flex-col gap-2;
  }
</style>
