---
import type { Event } from '@/events/domain/event'
import EventCard from '@/ui/components/event-card/event-card.astro'
import Pagination from '../pagination/pagination.astro'

interface Props {
  page: number
  totalPages: number
  events: Event[]
  goToEvent: (slug: string) => string
}

const { events = [], page, totalPages, goToEvent } = Astro.props
---

<article>
  <ul class="grid-list">
    {
      events.map((event: Event) => {
        return (
          <li>
            <EventCard event={event} goToEvent={goToEvent} />
          </li>
        )
      })
    }
  </ul>

  {events.length === 0 && <p class="empty-message">No hay eventos disponibles en estos momentos</p>}
  <nav class="footer">
    <Pagination totalPages={totalPages} page={page} />
  </nav>
</article>

<style>
  @reference "../../../../../../styles/global.css";

  .grid-list {
    @apply grid grid-cols-1 items-stretch gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-12 2xl:grid-cols-4;
  }
  .empty-message {
    @apply mt-4 text-lg;
  }
  .footer {
    @apply mt-8;
  }
</style>
