---
import { cn } from '@/ui/lib/utils'
import { Urls } from '@/ui/urls/urls'
import { Link } from '../link'

const pathname = Astro.url.pathname

const urlSections = {
  EVENTS: Urls.EVENTS.slice(0, -1),
  MEETUPS: Urls.MEETUPS.slice(0, -1),
  CALENDAR: Urls.CALENDAR.slice(0, -1),
}
---

<nav class="desktop-menu">
  <ul class="menu-list">
    <li class="menu-list-item">
      <Link
        href={Urls.EVENTS}
        variant="link"
        className={cn('menu-link', { 'menu-link-active': pathname.startsWith(urlSections.EVENTS) })}>Eventos</Link
      >
    </li>
    <li class="menu-list-item">
      <Link
        href={Urls.MEETUPS}
        variant="link"
        className={cn('menu-link', { 'menu-link-active': pathname.startsWith(urlSections.MEETUPS) })}>Meetups</Link
      >
    </li>
    <li class="menu-list-item">
      <Link
        href={Urls.CALENDAR}
        variant="link"
        className={cn('menu-link', { 'menu-link-active': pathname.startsWith(urlSections.CALENDAR) })}>Calendario</Link
      >
    </li>
  </ul>
</nav>

<style>
  @reference "../../../../../../styles/global.css";

  .desktop-menu {
    @apply hidden flex-1 lg:block;
  }

  .menu-list-item {
    @apply !mb-0;
  }

  .menu-list {
    @apply mx-auto flex w-full list-none justify-center gap-6;
  }

  .menu-link {
    @apply text-muted-foreground hover:text-primary no-underline;
  }

  .menu-link-active {
    @apply text-primary;
  }
</style>
