---
import { cn } from '@/ui/lib/utils'
import { Urls } from '@/ui/urls/urls'
import { Link } from '../link'

const pathname = Astro.url.pathname

const urlSections = {
  EVENTS: '/evento',
  MEETUPS: '/meetup',
  CALENDAR: '/calendario',
}
---

<nav class="mobile-menu">
  <ul class="menu-list">
    <li>
      <Link
        variant={'link'}
        className={cn('mobile-link', { 'mobile-link-active': pathname.includes(urlSections.EVENTS) })}
        href={Urls.EVENTS}
      >
        Eventos
      </Link>
    </li>
    <li>
      <Link
        variant={'link'}
        className={cn('mobile-link', { 'mobile-link-active': pathname.includes(urlSections.MEETUPS) })}
        href={Urls.MEETUPS}
      >
        Meetups
      </Link>
    </li>
    <li>
      <Link
        variant={'link'}
        className={cn('mobile-link', { 'mobile-link-active': pathname.includes(urlSections.CALENDAR) })}
        href={Urls.CALENDAR}
      >
        Calendario
      </Link>
    </li>
  </ul>
</nav>

<style>
  @reference "../../../../../../styles/global.css";

  .mobile-menu {
    @apply border-muted w-full border-b lg:hidden;
  }

  .menu-list {
    @apply flex list-none flex-row items-center justify-start gap-0 p-0;
  }

  .mobile-link {
    @apply text-muted-foreground hover:text-primary px-2 font-medium no-underline;
  }

  .mobile-link-active {
    @apply text-primary;
  }
</style>
