<a
  href="https://nextdigital.es"
  aria-label="Next Digital"
  rel="nofollow"
  target="_blank"
  class="dark:hidden block w-60 transition hover:-rotate-3 hover:scale-110"
>
  <img
    src="/sponsors/next-digital/next-digital-black.webp"
    alt="Next Digital"
    width="382"
    height="44"
    loading="lazy"
    decoding="async"
  />
</a>

<a
  href="https://nextdigital.es"
  aria-label="Next Digital"
  rel="nofollow"
  target="_blank"
  class="hidden dark:block w-60 transition hover:-rotate-3 hover:scale-110"
>
  <img
    src="/sponsors/next-digital/next-digital-white.webp"
    alt="Next Digital"
    width="464"
    height="55"
    loading="lazy"
    decoding="async"
  />
</a>
