---
import type { AstroEvent } from '../../../events/astro-event'
import { EventUtils } from '../../../events/event-utils'

const events = (await Astro.glob('../../../../pages/eventos/**/*.mdx')) as AstroEvent[]
const meetups = (await Astro.glob('../../../../pages/meetups/**/*.mdx')) as AstroEvent[]

const locations = EventUtils.getLocationEvents(Array.from(events).concat(meetups))
const locationsFiltered = locations.filter(location => !location.includes('Online'))
const locationsSorted = locationsFiltered.sort((a, b) => a.localeCompare(b))
---

<section class="container mx-auto max-w-7xl py-4 text-center">
  <h2 class="py-2">Eventos por ciudad</h2>
  <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-x-2 list-none p-0 mt-2">
    {
      locationsSorted.map(location => (
        <li class="m-0">
          <a
            href={`/eventos/${EventUtils.slugify(location)}/1`}
            class="text-sm hover:text-primary dark:hover:text-primary-light"
          >
            {location}
          </a>
        </li>
      ))
    }
  </ul>
</section>
