---
import { Github } from "../../atoms/icons/github";
import { Logo } from "../../molecules/logo/logo";
import { Twitter } from "../../atoms/icons/twitter";
---

<footer
  class="text-gray-700 bg-white dark:bg-slate-900 body-font border-t border-gray-200 dark:border-transparent"
>
  <div
    class="container flex flex-col items-center px-8 py-8 mx-auto max-w-7xl sm:flex-row"
  >
    <Logo />
    <p
      class="mt-4 text-sm text-gray-500 dark:text-gray-300 sm:ml-4 sm:pl-4 sm:border-l sm:border-gray-200 sm:mt-0"
    >
      Made with ❤️ by <a
        href="https://twitter.com/achamorro_dev"
        target="_blank"
        rel="nofollow">@achamorro_dev</a
      >
    </p>
    <span
      class="inline-flex justify-center mt-4 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start"
    >
      <a
        href="https://twitter.com/eventos_wiki"
        target="_blank"
        class="text-gray-400 hover:text-gray-500"
        rel="nofollow"
      >
        <span class="sr-only">Twitter</span>
        <Twitter />
      </a>

      <a
        href="https://github.com/achamorro-dev/eventoswiki"
        rel="nofollow"
        target="_blank"
        class="text-gray-400 hover:text-gray-500"
      >
        <span class="sr-only">GitHub</span>
        <Github />
      </a>
    </span>
  </div>
</footer>
