---
import { Codely } from '../../atoms/sponsors/codely'
---

<section class="container mx-auto py-4 text-gray-500 text-center dark:text-white">
  <h2 class="py-2">Sponsors</h2>
  <p class="text-md font-light py-0">¡Gracias por su apoyo!</p>
  <ul class="list-none flex justify-center mt-8">
    <li>
      <a href="https://codely.com" rel="nofollow" target="_blank" class="text-[#1a2233] dark:text-[#3cff64]"
        ><Codely /></a
      >
    </li>
  </ul>
</section>
