---
import Codely from '../../atoms/sponsors/codely.astro'
import NextDigital from '../../atoms/sponsors/next-digital.astro'
---

<section class="container mx-auto py-4 text-gray-500 text-center dark:text-white">
  <h2 class="py-2">Sponsors</h2>
  <p class="text-md font-light py-0">¡Gracias por su apoyo!</p>
  <ul class="list-none flex flex-col md:flex-row justify-center items-center gap-8 mt-8">
    <li>
      <Codely />
    </li>
    <li>
      <NextDigital />
    </li>
  </ul>
</section>
