---
import Modal from '@/ui/components/modal/modal.astro'

interface Props {
  id: string
}

const { id } = Astro.props
---

<Modal id={id} title="Eliminar cuenta" acceptLabel="Eliminar cuenta">
  <p class="text-center text-caption dark:text-caption-dark">
    ¿Estás seguro de que quieres eliminar tu cuenta? Esta acción es irreversible y no se puede deshacer.
  </p>
</Modal>

<script>
  import type { EwModal } from '@/ui/components/modal/modal'
  import { Urls } from '@/ui/urls/urls'
  import { actions } from 'astro:actions'
  import { navigate } from 'astro:transitions/client'

  function initializeListeners() {
    const modal = document.querySelector(`#user-delete-modal`) as EwModal

    modal?.addEventListener('accept', async () => {
      const { error } = await actions.authentication.deleteLoggedUserAction()
      if (error) {
        // TODO: pending notification system
        console.error(error)
        return
      }

      modal.close()
      navigate(Urls.HOME)
    })

    modal?.addEventListener('close', () => {
      modal.close()
    })
  }

  document.addEventListener('astro:after-swap', initializeListeners)
  initializeListeners()
</script>
