@reference "../../../../../../styles/global.css";

.calendar-wrapper {
  height: 800px;
}

.rbc-calendar * {
  @apply !border-gray-200;
}

.rbc-month-view {
  @apply rounded-b-md;
}

.rbc-month-view .event,
.rbc-time-view .event {
  @apply rounded-md text-sm font-medium;
  color: var(--event-color, var(--primary-foreground));
  border: 1px solid color-mix(in srgb, var(--event-border-color, var(--primary)) 20%, transparent) !important;
  background-color: color-mix(in srgb, var(--event-background-color, var(--primary)) 10%, transparent);
}

.rbc-row-segment {
  @apply px-1;
}

.big-calendar .rbc-time-header-cell span,
.big-calendar .rbc-time-slot span {
  @apply font-sans text-base;
}

.rbc-header {
  @apply text-foreground py-2 text-sm font-normal;
}

.rbc-calendar span,
.rbc-calendar button,
.rbc-calendar th,
.rbc-calendar td {
  @apply dark:text-white;
}

.rbc-calendar button:hover {
  @apply dark:text-black;
}

.rbc-agenda-table {
  @apply table-fixed md:table-auto;
}

.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
  @apply w-1/3 whitespace-normal md:w-auto md:whitespace-nowrap;
}

.rbc-agenda-date-cell,
.rbc-agenda-event-cell,
.rbc-agenda-time-cell span {
  @apply text-base font-light;
}

.rbc-toolbar-label {
  @apply text-primary text-xl font-medium;
}

.rbc-toolbar {
  @apply mb-0 gap-4 rounded-t-md border border-b-0 p-4;
}

.rbc-off-range-bg {
  @apply bg-muted text-muted-foreground;
}

.rbc-today {
  @apply bg-muted opacity-75;
}

.rbc-btn-group button {
  @apply hover:bg-muted rounded-md text-sm font-medium;
}

.rbc-active {
  @apply !bg-primary !text-primary-foreground !shadow-none;
}

.rbc-button-link {
  @apply m-1 rounded-full p-1 text-sm text-black/75 dark:text-white;
}

.rbc-date-cell.rbc-now button {
  @apply bg-primary text-primary-foreground;
}
