---
import Codely from '@/ui/components/sponsors/codely.astro'
import NextDigital from '@/ui/components/sponsors/next-digital.astro'
---

<section class="container mx-auto py-4 text-center dark:text-white">
  <h2 class="py-2 font-bold text-3xl">Sponsors</h2>
  <p class="text-md font-light py-0 text-xl">¡Gracias por su apoyo!</p>
  <ul class="list-none flex flex-col md:flex-row justify-center items-center gap-8 mt-8">
    <li>
      <Codely />
    </li>
    <li>
      <NextDigital />
    </li>
  </ul>
</section>
