---
import type { Event } from '@/events/domain/event'
import EventCard from '../event-card/event-card.astro'

interface Props {
  events: Event[]
}

const { events = [] } = Astro.props
---

<div class="grid grid-cols-1 items-stretch gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-8">
  {
    events.map((event: Event) => {
      return <EventCard event={event} classes="inline-grid w-full" />
    })
  }
</div>
{events.length === 0 && <p class="text-xl font-medium">No hay eventos disponibles en estos momentos</p>}
