---
import { EventsLocator } from '@/events/di/events.locator'
import { Event } from '@/events/domain/event'
import { MeetupsLocator } from '@/meetups/di/meetups.locator'
import { Meetup } from '@/meetups/domain/meetup'
import { BigCalendar } from '@/ui/components/calendar/big-calendar'
import GradientTitle from '@/ui/components/gradient-title/gradient-title.astro'
import { Urls } from '@/ui/urls/urls'
import Layout from '../layouts/layout.astro'
import type { CalendarEvent } from '../modules/shared/presentation/ui/components/calendar/calendar-event'

const events = await EventsLocator.getEventsQuery().execute()
const meetups = await MeetupsLocator.getMeetupsQuery().execute()

const calendarEvents = events.concat(meetups).map<CalendarEvent>((event: Meetup | Event, index) => {
  const isMeetup = event instanceof Meetup
  return {
    id: index,
    title: event.title,
    start: event.startsAt,
    end: event.endsAt,
    url: isMeetup ? Urls.MEETUP(event.slug) : Urls.EVENT(event.slug),
    color: event.tagColor,
  } as CalendarEvent
})
---

<Layout
  title="eventos.wiki - Calendario"
  description="En eventos.wiki encontrarás el calendario de eventos sobre desarrollo y tecnología definitivo. Pasa y echa un vistazo a la gran variedad de eventos y, si falta el tuyo, sólo tienes que pedírnoslo."
>
  <div class="flex items-center justify-between mt-4 mb-10">
    <GradientTitle>Calendario</GradientTitle>
  </div>
  <BigCalendar client:load events={calendarEvents} />
</Layout>
