---
import Layout from '@/layouts/layout.astro'
import ContentPage from '@/ui/components/content-page/content-page.astro'
---

<Layout title="Política de Privacidad">
  <ContentPage>
    <h1>Política de Privacidad de eventos.wiki</h1>
    <p>
      <strong>Última actualización:</strong> 13 de noviembre de 2024
    </p>
    <p>
      Eventos.wiki es una iniciativa independiente para la gestión integral de organizaciones de eventos, eventos y
      meetups o reuniones locales. En eventos.wiki, nos tomamos muy en serio la privacidad de nuestros usuarios y nos
      comprometemos a proteger sus datos personales. Esta Política de Privacidad describe cómo recopilamos, utilizamos y
      protegemos tu información en cumplimiento con el Reglamento General de Protección de Datos (RGPD) y otras
      normativas aplicables.
    </p>

    <h2>1. Información que Recopilamos</h2>
    <p>
      En eventos.wiki, recopilamos y tratamos los mínimos datos personales de los usuarios que se registran e inician
      sesión a través de sus redes sociales. Los datos personales que podemos recopilar incluyen:
    </p>
    <ul>
      <li>Nombre completo</li>
      <li>Nombre de usuario o nick</li>
      <li>Correo electrónico</li>
    </ul>
    <p>
      Estos datos son necesarios para crear y gestionar tu cuenta en eventos.wiki y ofrecerte una experiencia
      personalizada en nuestra plataforma. Además el usuario podrá registrar de manera opcional enlaces a sus diferentes
      redes sociales, las cuales también serán de visibilidad pública en la plataforma.
    </p>

    <h2>2. Uso de los Datos</h2>
    <p>Utilizamos los datos personales que recopilamos para los siguientes fines:</p>
    <ul>
      <li>
        <strong>Creación y gestión de cuentas:</strong> para permitirte iniciar sesión y usar eventos.wiki.
      </li>
      <li>
        <strong>Personalización de la experiencia:</strong> para adaptar el contenido y los servicios de la plataforma a
        tus preferencias.
      </li>
      <li>
        <strong>Comunicaciones:</strong> para enviarte notificaciones importantes relacionadas con tu cuenta y cualquier
        cambio en nuestra política de privacidad, términos de uso u otros aspectos relevantes del servicio.
      </li>
    </ul>

    <h2>3. Base Legal para el Tratamiento de Datos</h2>
    <p>El tratamiento de tus datos personales se basa en:</p>
    <ul>
      <li>
        <strong>Consentimiento:</strong> al iniciar sesión a través de tus redes sociales, otorgas tu consentimiento para
        que eventos.wiki recopile y trate tus datos personales en conformidad con esta Política de Privacidad.
      </li>
      <li>
        <strong>Ejecución de un contrato:</strong> los datos son necesarios para proporcionarte acceso y uso de la plataforma.
      </li>
    </ul>

    <h2>4. ¿Con Quién Compartimos tus Datos?</h2>
    <p>
      En eventos.wiki, no vendemos tu información ni la utilizaremos para mostrarte publicidad personalizada. Tampoco
      compartimos tus datos personales con terceros, excepto en los siguientes casos:
    </p>
    <ul>
      <li>
        <strong>Proveedores de servicios de terceros:</strong> para el correcto funcionamiento de eventos.wiki. Estos proveedores
        son procesadores de tu información y están obligados a proteger tus datos de acuerdo con las leyes aplicables y sólo
        los utilizan para cumplir con los fines indicados. Estos proveedores son los encargados de almacenar tu información
        o utilizarla para el envío de correos electrónicos, mensajes de texto, notificaciones, etc.
      </li>
      <li>
        <strong>Cumplimiento legal:</strong> podemos compartir tus datos personales en caso de ser requerido por ley o en
        respuesta a una solicitud válida de las autoridades públicas.
      </li>
    </ul>
    <p>Además de tu información personal, hay otra información generada por ti que será visible públicamente:</p>
    <ul>
      <li>Aparecerás como organizador en las organizaciones que participes con el rol de organizador.</li>
      <li>Comentarios en eventos, meetups o feed de la organización.</li>
      <li>Al indicar tu asistencia o interes de asistir a un evento o meetup.</li>
    </ul>

    <h2>5. Seguridad de tus Datos</h2>
    <p>
      Desde eventos.wiki no almacenamos contraseñas ya que el inicio de sesión se realiza a través de proveedores
      externos de inicio de sesión y únicamente almacenamos la relación entre el identificador de usuario de ese
      proveedor externo y el perfil de usuario en Eventos.wiki. Implementamos medidas de seguridad técnicas y
      organizativas para proteger tus datos personales contra pérdida, uso indebido, acceso no autorizado, divulgación,
      alteración y destrucción. Sin embargo, te recordamos que ningún sistema de seguridad es infalible, y te instamos a
      proteger tus credenciales de acceso mediante terceros y dispositivos.
    </p>

    <h2>6. Tus Derechos</h2>
    <p>
      Puedes ejercer automáticamente el derecho al olvido a través del mecanismo para eliminar tu cuenta. Esta operación
      eliminará la información personal vinculada a tu cuenta así como tus comentarios y propuestas de actividades.
    </p>
    <p>
      Para los derechos de corrección, acceso, portabilidad o eliminación puedes utilizar directamente la interfaz web
      de la plataforma o ponerte en contacto con nosotros a través del correo electrónico <a
        href="mailto:hola@eventos.wiki"
        target="_blank">hola@eventos.wiki</a
      >
    </p>

    <h2>7. Retención de los Datos</h2>
    <p>
      Conservamos tus datos personales mientras tu cuenta esté activa en eventos.wiki y durante el tiempo necesario para
      cumplir con las finalidades para las que fueron recogidos. Si decides cerrar tu cuenta, eliminaremos tus datos
      personales en un plazo razonable, salvo que la ley requiera su conservación por un período más largo.
    </p>

    <h2>8. Cambios en esta Política de Privacidad</h2>
    <p>
      Nos reservamos el derecho a modificar esta Política de Privacidad en cualquier momento. En caso de realizar
      cambios significativos, te notificaremos a través de la plataforma o por correo electrónico. Te recomendamos que
      revises periódicamente esta Política para estar informado de cualquier cambio.
    </p>

    <h2>9. Cookies</h2>
    <p>
      Utilizamos cookies exclusivamente técnicas tanto gestionadas por nosotros como los diferentes proveedores de
      inicio de sesión. Estas cookies son necesarias para poder iniciar y mantener tu sesión activa en la plataforma.
    </p>

    <h2>10. Contacto</h2>
    <p>
      Si tienes preguntas, inquietudes o deseas ejercer tus derechos de protección de datos, puedes ponerte en contacto
      con nosotros en el correo electrónico:
      <a href="mailto:hola@eventos.wiki">hola@eventos.wiki</a>
    </p>
  </ContentPage>
</Layout>
