---
import Layout from '@/layouts/layout.astro'
import ContentPage from '@/ui/components/content-page/content-page.astro'
---

<Layout title="Política de Privacidad">
  <ContentPage>
    <h1>Política de Privacidad de eventos.wiki</h1>
    <p>
      <strong>Última actualización:</strong> 15 de junio de 2024
    </p>
    <p>
      Eventos.wiki es una iniciativa independiente para la gestión integral de organizaciones de eventos, eventos y
      meetups o reuniones locales. En eventos.wiki, nos tomamos muy en serio la privacidad de nuestros usuarios y nos
      comprometemos a proteger sus datos personales. La presente Política de Privacidad tiene como objetivo garantizar
      el cumplimiento de la normativa vigente en materia de Protección de Datos personales, vigente en España, Ley
      Orgánica 3/2018 de 5 de diciembre de Protección de Datos Personales y de Garantía de Derechos Digitales y
      Reglamento 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la Protección de las
      Personas Físicas en lo que respecta al Tratamiento de datos personales y a la libre circulación de estos datos.
    </p>

    <p>
      Esta política estará vigente hasta que sea modificada por otra debidamente publicada. El uso del sitio web implica
      la aceptación de esta Política de Privacidad, así como de las condiciones incluidas en el Aviso Legal.
    </p>

    <h2>1. Información que Recopilamos</h2>
    <p>
      En eventos.wiki, recopilamos y tratamos los mínimos datos personales de los usuarios que se registran e inician
      sesión a través de sus redes sociales. Los datos personales que podemos recopilar incluyen:
    </p>
    <ul>
      <li>Nombre y apellidos</li>
      <li>Nombre de usuario o nick</li>
      <li>Correo electrónico</li>
    </ul>
    <p>
      Estos datos son necesarios para crear y gestionar tu cuenta en eventos.wiki y ofrecerte una experiencia
      personalizada en nuestra plataforma. Además el usuario podrá registrar de manera opcional enlaces a sus diferentes
      redes sociales, las cuales también serán de visibilidad pública en la plataforma.
    </p>

    <h2>2. Uso de los Datos</h2>
    <p>Los datos recabados son necesarios para:</p>
    <ul>
      <li>
        <strong>Creación y gestión de cuentas:</strong> para permitirte iniciar sesión y usar eventos.wiki.
      </li>
      <li>
        <strong>Personalización de la experiencia:</strong> para adaptar el contenido y los servicios de la plataforma a
        tus preferencias.
      </li>
      <li>
        <strong>Comunicaciones:</strong> para enviarte notificaciones importantes relacionadas con tu cuenta y cualquier
        cambio en nuestra política de privacidad, términos de uso u otros aspectos relevantes del servicio.
      </li>
    </ul>
    <p>
      Constituye la base y legitimación para el tratamiento de estos datos, su consentimiento expreso. Dicho
      consentimiento ha sido otorgado por el usuario una vez se registre e inicie sesión a través de sus redes sociales
      y mediante la aceptación de la Política de Privacidad y Protección de Datos mediante el uso del sitio web.
    </p>

    <h2>3. Base Legal y legitimación para el Tratamiento de Datos</h2>
    <p>El tratamiento de tus datos personales se basa en:</p>
    <ul>
      <li>
        <strong>Consentimiento:</strong> al iniciar sesión a través de tus redes sociales, otorgas tu consentimiento para
        que eventos.wiki recopile y trate tus datos personales en conformidad con esta Política de Privacidad, tal y como
        detallábamos al inicio de la presente política.
      </li>
    </ul>

    <h2>4. ¿Con Quién Compartimos tus Datos?</h2>
    <p>
      En eventos.wiki, no vendemos tu información ni la utilizaremos para mostrarte publicidad personalizada. Tampoco
      compartimos tus datos personales con terceros, excepto en los siguientes casos:
    </p>
    <ul>
      <li>
        <strong>Proveedores de servicios de terceros:</strong> para el correcto funcionamiento de eventos.wiki. Estos proveedores
        son procesadores de tu información y están obligados a proteger tus datos de acuerdo con las leyes aplicables y sólo
        los utilizan para cumplir con los fines indicados. Estos proveedores son los encargados de almacenar tu información
        o utilizarla para el envío de correos electrónicos, mensajes de texto, notificaciones, etc.
      </li>
      <li>
        <strong>Cumplimiento legal:</strong> podemos compartir tus datos personales por obligación legal, interés público
        o ejercicio de poderes públicos.
      </li>
    </ul>
    <p>Además de tu información personal, hay otra información generada por ti que será visible públicamente:</p>
    <ul>
      <li>Aparecerás como organizador en las organizaciones que participes con el rol de organizador.</li>
      <li>Comentarios en eventos, meetups o feed de la organización.</li>
      <li>Al indicar tu asistencia o interes de asistir a un evento o meetup.</li>
    </ul>

    <h2>5. Seguridad de tus Datos</h2>
    <p>
      Desde eventos.wiki no almacenamos contraseñas ya que el inicio de sesión se realiza a través de proveedores
      externos de inicio de sesión y únicamente almacenamos la relación entre el identificador de usuario de ese
      proveedor externo y el perfil de usuario en Eventos.wiki. Implementamos medidas de seguridad técnicas y
      organizativas para proteger tus datos personales contra pérdida, uso indebido, acceso no autorizado, divulgación,
      alteración y destrucción. Sin embargo, te recordamos que ningún sistema de seguridad es infalible, y te instamos a
      proteger tus credenciales de acceso mediante terceros y dispositivos.
    </p>

    <h2>6. Tus Derechos</h2>
    <p>
      Podrás ejercer los derechos de acceso, rectificación, supresión, limitación del tratamiento, portabilidad y
      oposición al tratamiento de sus datos de carácter personal utilizando directamente la interfaz web de la
      plataforma o dirigiendo tu petición a la dirección de correo electrónico hola@eventos.wiki, acompañando a dicha
      solicitud la información sobre su identidad. Asimismo, tienes el derecho de dirigir reclamaciones a la Agencia
      Española de Protección de Datos.
    </p>
    <p>
      Debemos señalar que, además, respecto al derecho de supresión, también llamado derecho al olvido, puedes ejercerlo
      automáticamente a través del mecanismo para eliminar tu cuenta. Esta operación eliminará la información personal
      vinculada a tu cuenta así como tus comentarios y propuestas de actividades.
    </p>

    <h2>7. Conservación de los Datos</h2>
    <p>
      Conservamos tus datos personales mientras tu cuenta esté activa en eventos.wiki y durante el tiempo necesario para
      cumplir con las finalidades para las que fueron recogidos. Si decides cerrar tu cuenta, eliminaremos tus datos
      personales en un plazo razonable, salvo que la ley requiera su conservación por un período más largo.
    </p>

    <h2>8. Cambios en esta Política de Privacidad</h2>
    <p>
      Nos reservamos el derecho a modificar esta Política de Privacidad en cualquier momento. En caso de realizar
      cambios significativos, te notificaremos a través de la plataforma o por correo electrónico. Te recomendamos que
      revises periódicamente esta Política para estar informado de cualquier cambio.
    </p>

    <h2>9. Cookies</h2>
    <p>
      Para que este sitio Web funcione correctamente necesita utilizar cookies, que es una información que se almacena
      en su navegador web.
    </p>

    <p>
      La cookies son pequeños archivos de texto que un sitio web almacena en el navegador del usuario. La cookies
      facilitan el uso y la navegación por una página web y son esenciales para el funcionamiento de internet ,
      aportando innumerables ventajas en la prestación de servicios interactivos.
    </p>

    <h3>Tipo de Cookies utilizadas en nuestra web:</h3>

    <h4>Cookies generales (obligatorias)</h4>
    <p>
      Las cookies necesarias contribuyen a hacer que un sitio web sea utilizable permitiendo funciones básicas como
      navegación entre páginas y acceso a zonas seguras del sitio web. El sitio web no puede funcionar correctamente sin
      estas cookies. Las cookies funcionales permiten que un sitio web recuerde información que cambia la forma del
      comportamiento o aspecto del sitio web, como su idioma preferido o la región en que se encuentra. Algunas de estas
      cookies también se pueden usar con fines relacionados con la seguridad o la lucha contra el fraude.
    </p>
    <h4>Cookies de visionado</h4>
    <p>
      Son cookies que permiten reproducir el contenido audiovisual desde el mismo lugar donde se detuvo en la conexión
      anterior
    </p>

    <h4>Cookies sociales</h4>
    <p>
      Son cookies que instalan las distintas redes sociales con las que este sitio web interacciona con ellas. Estas
      cookies se instalan en el usuario para que éste no tenga que introducir nuevamente sus datos. Las redes sociales a
      las que se enlazan son:
    </p>
    <ul>
      <li>Facebook (https://es-es.facebook.com/about/privacy/cookies)</li>
      <li>
        Twitter
        (https://support.twitter.com/articles/20170521-el-uso-que-hace-twitter-de-cookies-y-tecnologias-similares#)
      </li>
      <li>Youtube (http://www.google.es/intl/es/policies/technologies/types/)</li>
      <li>
        Instagram
        (https://help.instagram.com/1896641480634370/?helpref=hc_fnav&bc[0]=Ayuda%20de%20Instagram&bc[1]=Pol%C3%ADticas%20y%20denuncias
        )
      </li>
    </ul>

    <h3>Eliminar o bloquear las cookies:</h3>
    <p>El usuario puede expresamente bloquear o eliminar la cookies desde la configuración de su propio navegador:</p>
    <p>Puede ver más información sobre su navegador y las cookies en los siguientes enlaces:</p>
    <ul>
      <li>
        Microsoft Edge Herramientas > Opciones de internet > Privacidad > Configuración Más información
        <a
          href="https://support.microsoft.com/es-es/windows/eliminar-y-administrar-cookies-168dab11-0753-043d-7c16-ede5947fc64d"
          >https://support.microsoft.com/es-es/windows/eliminar-y-administrar-cookies-168dab11-0753-043d-7c16-ede5947fc64d</a
        >
      </li>
      <li>
        Firefox Herramientas > Opciones > Privacidad > Historial > Configuración Personalizada Más información
        <a href="http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we"
          >http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</a
        >
      </li>
      <li>
        Google Chrome Configuración > Mostrar opciones avanzadas > Privacidad > Configuración de contenido Más
        información
        <a href="https://support.google.com/chrome/answer/95647?hl=es"
          >https://support.google.com/chrome/answer/95647?hl=es</a
        >
      </li>
      <li>
        Safari Preferencias > Seguridad Más información
        <a href="http://support.apple.com/kb/HT1677?viewlocale=es_ES"
          >http://support.apple.com/kb/HT1677?viewlocale=es_ES</a
        >
      </li>
    </ul>
    <p>Recuerde que la eliminación o bloqueo de cookies puede afectar a las funcionalidades de la web.</p>

    <h2>10. Contacto</h2>
    <p>
      Si tienes preguntas, inquietudes o deseas ejercer tus derechos de protección de datos, puedes ponerte en contacto
      con nosotros en el correo electrónico:
      <a href="mailto:hola@eventos.wiki">hola@eventos.wiki</a>
    </p>

    <h2>Notificaciones</h2>
    <p>
      Igualmente, eventos.wiki le comunica que toda notificación de la información relativa a los Eventos, y únicamente
      en relación con los mismos, se realizará por medios electrónicos, por lo que, mediante la aceptación de la
      Política de Privacidad y Protección de datos, presta su consentimiento expreso a recibir comunicación relativa al
      mismo por dichos medios.
    </p>
  </ContentPage>
</Layout>
