---
import Layout from '@/layouts/layout.astro'
import ContentPage from '@/ui/components/content-page/content-page.astro'
import { Urls } from '@/ui/urls/urls'
---

<Layout title="Términos y Condiciones de Uso">
  <ContentPage>
    <h1>Términos y Condiciones de Uso de eventos.wiki</h1>
    <p><strong>Última actualización:</strong> 13 de noviembre de 2024</p>
    <p>
      Bienvenido a eventos.wiki. Al acceder y utilizar nuestra plataforma, aceptas cumplir con los siguientes Términos y
      Condiciones. Te recomendamos leer detenidamente este documento antes de comenzar a utilizar nuestros servicios. Si
      no estás de acuerdo con alguno de los términos, te pedimos que no utilices eventos.wiki.
    </p>

    <h2>1. Definiciones</h2>
    <ul>
      <li>
        <strong>"Sitio":</strong> se refiere a eventos.wiki y a cualquier otra página web, aplicación o servicio relacionado
        operado por nosotros.
      </li>
      <li><strong>"Usuario" o "Tú":</strong> se refiere a cualquier persona que acceda y/o use el Sitio.</li>
      <li>
        <strong>"Nosotros" o "Eventos.wiki":</strong> se refiere a los propietarios y operadores del sitio eventos.wiki.
      </li>
    </ul>

    <h2>2. Aceptación de los Términos</h2>
    <p>
      Al iniciar sesión, registrarte o utilizar cualquier funcionalidad de eventos.wiki, aceptas los presentes Términos
      y Condiciones. Nos reservamos el derecho de actualizar estos términos en cualquier momento, notificándote a través
      de la plataforma o mediante correo electrónico en caso de cambios significativos. El uso continuado del Sitio tras
      la publicación de dichos cambios implica tu aceptación de los mismos.
    </p>

    <h2>3. Registro y Cuenta de Usuario</h2>
    <p>
      Para utilizar algunas funcionalidades de eventos.wiki, deberás registrarte e iniciar sesión a través de tus redes
      sociales. Al hacerlo, confirmas que:
    </p>
    <ul>
      <li>Tienes al menos 18 años de edad.</li>
      <li>Proporcionas información veraz, completa y actualizada.</li>
      <li>
        Aceptas la responsabilidad de mantener la confidencialidad de tus credenciales de inicio de sesión y de
        cualquier actividad que ocurra bajo tu cuenta.
      </li>
    </ul>

    <h2>4. Uso de la Plataforma</h2>
    <p>Como usuario de eventos.wiki, te comprometes a:</p>
    <ul>
      <li>Utilizar el Sitio de forma responsable y conforme a las leyes aplicables.</li>
      <li>
        No utilizar el Sitio para publicar contenido ofensivo, inexacto, engañoso o que viole los derechos de terceros.
      </li>
      <li>No intentar acceder a áreas restringidas del Sitio ni interferir con el funcionamiento de eventos.wiki.</li>
    </ul>

    <h2>5. Contenido Publicado por el Usuario</h2>
    <p>
      Al publicar contenido en eventos.wiki, declaras y garantizas que tienes el derecho y autorización para compartir
      dicho contenido. Además:
    </p>
    <ul>
      <li>
        Concedes a eventos.wiki una licencia no exclusiva, mundial, libre de regalías y transferible para usar,
        modificar y mostrar tu contenido en la plataforma.
      </li>
      <li>
        Eres el único responsable del contenido que publicas y asumes la responsabilidad por cualquier daño o perjuicio
        derivado de dicho contenido.
      </li>
    </ul>

    <h2>6. Propiedad Intelectual</h2>
    <p>
      Todo el contenido, diseño, logotipos, y demás elementos gráficos o textuales del Sitio son propiedad de
      eventos.wiki o sus licenciantes y están protegidos por derechos de propiedad intelectual. No se permite su uso,
      reproducción o distribución sin autorización previa y por escrito de eventos.wiki.
    </p>

    <h2>7. Limitación de Responsabilidad</h2>
    <p>Eventos.wiki no se responsabiliza por:</p>
    <ul>
      <li>La exactitud o veracidad del contenido proporcionado por los usuarios.</li>
      <li>
        Los daños o perjuicios derivados del uso de la plataforma, incluyendo la pérdida de datos o ganancias,
        interrupciones del servicio, o cualquier otro tipo de daño, directo o indirecto.
      </li>
    </ul>

    <h2>8. Enlaces a Terceros</h2>
    <p>
      Eventos.wiki puede contener enlaces a sitios web de terceros. No controlamos ni somos responsables de estos sitios
      o su contenido. Al hacer clic en estos enlaces, aceptas que eventos.wiki no tiene ninguna responsabilidad por los
      daños o pérdidas derivados de tu interacción con dichos sitios.
    </p>

    <h2>9. Suspensión y Terminación</h2>
    <p>
      Nos reservamos el derecho de suspender o cancelar tu acceso a eventos.wiki, total o parcialmente, en cualquier
      momento y por cualquier motivo, incluyendo, entre otros, el incumplimiento de estos Términos y Condiciones.
    </p>

    <h2>10. Protección de Datos Personales</h2>
    <p>
      Al utilizar eventos.wiki, consientes el tratamiento de tus datos personales de acuerdo con nuestra <a
        href={Urls.PRIVACY}>Política de Privacidad</a
      >. Te recomendamos leerla para entender cómo recopilamos, utilizamos y protegemos tu información.
    </p>

    <h2>11. Modificaciones a los Términos y Condiciones</h2>
    <p>
      Podemos modificar estos Términos y Condiciones en cualquier momento. En caso de realizar cambios sustanciales, te
      notificaremos por correo electrónico o a través de la plataforma. El uso continuado de eventos.wiki tras la
      notificación de cambios constituye tu aceptación de los mismos.
    </p>

    <h2>12. Legislación Aplicable y Jurisdicción</h2>
    <p>
      Estos Términos y Condiciones se rigen por las leyes de España. Cualquier disputa derivada del uso de eventos.wiki
      se someterá a los tribunales competentes de dicho país.
    </p>

    <h2>13. Contacto</h2>
    <p>
      Si tienes dudas, preguntas o necesitas más información sobre estos Términos y Condiciones, puedes contactarnos en <a
        href="mailto:hola@eventos.wiki">hola@eventos.wiki</a
      >.
    </p>
  </ContentPage>
</Layout>
