---
import { NewUrls } from '@/core/ui/urls/urls'
import { EventsLocator } from '@/events/di/events.locator'
import GradientTitle from '@/ui/components/gradient-title/gradient-title.astro'
import Link from '@/ui/components/link/link.astro'
import EventsGrid from '../events-grid/events-grid.astro'

const getNextEventsQuery = EventsLocator.getNextEventsQuery()
const nextEvents = await getNextEventsQuery.execute({ count: 3 })
---

<section>
  <div class="flex items-center justify-between my-4">
    <GradientTitle>Próximos eventos</GradientTitle>
    <Link href={NewUrls.EVENTS} classes="text-right shrink-0">Ver todos</Link>
  </div>
  <EventsGrid events={nextEvents} />
</section>
