---
import InputError from '../input-error/input-error.astro'
import Label from '../label/label.astro'

interface Props {
  label?: string
  classes?: string
  error?: string
}

const { label, classes, error } = Astro.props
---

{
  label ? (
    <Label label={label} classes={classes}>
      <slot />
      {error && <InputError>{error}</InputError>}
    </Label>
  ) : (
    <Fragment>
      <slot />
      {error && <InputError>{error}</InputError>}
    </Fragment>
  )
}

<style is:global>
  @reference "../../../../../../../styles/global.css";

  input.input {
    @apply bg-input text-input ring-border placeholder:text-foreground focus:ring-primary   w-full rounded-lg px-4 py-2 text-sm font-medium ring-1 placeholder:opacity-50 focus:border-transparent focus:outline-none focus:ring-2;
  }
  input.input.input-chip {
    @apply rounded-full;
  }
  input.input-with-error {
    @apply text-destructive ring-destructive;
  }
</style>
