---
interface Props {
  align?: 'left' | 'right'
}

const { align = 'left' } = Astro.props
---

<div class:list={['content', `${align}-align`]}>
  <slot />
</div>

<style>
  @reference "../../../../../../styles/global.css";

  .content {
    @apply border-border bg-background dark:bg-background absolute top-full z-10 w-max rounded-xl border px-2 shadow-2xl dark:border-0;
  }
  .left-align {
    @apply left-0;
  }
  .right-align {
    @apply right-0;
  }
</style>
