.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.action {
  display: flex;
  justify-content: flex-end;
}
