---
import { EventUtils } from "../../../../core/events/event-utils";
import type { AstroEvent } from "../../../events/astro-event";
import { EventsGrid } from "../events-grid/events-grid";

const events = (await Astro.glob(
  "../../../../pages/eventos/**/*.mdx"
)) as AstroEvent[];

const nextEventsFiltered = EventUtils.getNextEvents(events);
const nextEvents = EventUtils.sortByStartDateAsc(nextEventsFiltered).slice(
  0,
  9
);
---

<section>
  <h2
    class="mb-3 text-3xl font-extrabold leading-none text-gray-900 dark:text-gray-50 lg:text-4xl xl:text-5xl sm:mb-3"
  >
    Próximos eventos
  </h2>
  <EventsGrid events={nextEvents} />
</section>
