---
import { EventUtils } from "../../../../core/events/event-utils";
import type { AstroEvent } from "../../../events/astro-event";
import { EventsGrid } from "../events-grid/events-grid";
import { Link } from "../../atoms/link/Link";

const events = (await Astro.glob(
  "../../../../pages/eventos/**/*.mdx"
)) as AstroEvent[];

const nextEventsFiltered = EventUtils.getNextEvents(events);
const nextEvents = EventUtils.sortByStartDateAsc(nextEventsFiltered).slice(
  0,
  6
);
---

<section>
  <div class="flex items-center justify-between mt-4 mb-10">
    <h2
      class="mb-3 text-3xl font-extrabold leading-none text-gray-900 dark:text-gray-50 lg:text-4xl xl:text-5xl sm:mb-3"
    >
      Próximos eventos
    </h2>
    <Link href="/eventos/1" className="text-right">Ver más</Link>
  </div>
  <EventsGrid client:load events={nextEvents} />
</section>
