---
import { Card } from '@/ui/card'
import VisuallyHidden from '@/ui/components/visually-hidden/visually-hidden.astro'
---

<Card className="organization-card">
  <VisuallyHidden>Cargando evento</VisuallyHidden>
  <div class="organization-avatar skeleton"></div>
  <div class="organization-name skeleton"></div>
</Card>

<style>
  @reference "../../../../../../styles/global.css";

  .organization-card {
    @apply flex animate-pulse flex-col items-center justify-center gap-2;
  }
  .organization-avatar {
    @apply size-24 rounded-full;
  }
  .organization-name {
    @apply h-12 w-48 rounded-xl;
  }
</style>
