---
import { Button } from '../../atoms/button/button'
---

<section class="hero">
  <article>
    <h2 class="hero-title">
      <span class="hero-title-first">Todos los eventos tecnológicos</span>
      <span class="hero-title-second"> en un mismo lugar.</span>
    </h2>
    <div class="hero-actions">
      <Button type="link" rel="nofollow" href="/calendario">Ver calendario</Button>
      <Button
        type="link"
        variant="text"
        href="https://github.com/achamorro-dev/eventoswiki/issues/new?assignees=achamorro-dev&labels=enhancement&projects=&template=solicitud-nuevo-evento.yaml&title=A%C3%B1adir+nuevo+evento%3A+"
        rel="nofollow"
        target="_blank"
      >
        Añadir evento
      </Button>
    </div>
  </article>
  <article>
    <img
      src="/hero_image.svg"
      alt="Ilustración donde podemos ver un dibujo de una mujer sentada en el suelo con las piernas cruzadas y su portátil encima. También se ve una bombilla como si se le hubiera ocurrido una idea ingeniosa."
      class="hero-image"
      loading="eager"
    />
  </article>
</section>

<style>
  .hero {
    @apply container mx-auto mt-px flex max-w-lg flex-col-reverse items-center text-left md:grid md:max-w-none md:grid-cols-2;
  }
  .hero-title {
    @apply text-left !font-extrabold leading-10 tracking-tight sm:leading-none;
  }
  .hero-title-first {
    @apply block bg-gradient-to-br from-primary to-accent bg-clip-text !text-4xl text-transparent md:pb-1 lg:!text-5xl;
  }
  .hero-title-second {
    @apply relative !text-4xl text-black dark:text-white md:inline-block lg:!text-5xl;
  }
  .hero-actions {
    @apply mt-2 flex flex-col gap-4 text-center md:mt-4 lg:mt-8 lg:flex-row lg:justify-start;
  }
  .hero-image {
    @apply h-64 w-full object-cover lg:h-[450px];
  }
</style>
