---
import { GetUserQuery } from '@/users/application/get-user.query'
import { UsersContainer } from '@/users/di/users.container'
import UserAvatar from '@/ui/components/user-avatar/user-avatar.astro'

interface Props {
  userId: string
}

const { userId } = Astro.props
const user = await UsersContainer.get(GetUserQuery).execute({ id: userId })
---

<article class="user-profile">
  <header class="header">
    <UserAvatar userName={user.name} image={user.avatar} size="xl" />
    <h1 class="text-4xl font-semibold text-foreground">{user.name}</h1>
    <span class="username">@{user.username}</span>
    <div></div>
    <slot name="header" />
  </header>
</article>

<style>
  @reference "../../../../../../styles/global.css";

  .user-profile {
    @apply flex flex-col items-stretch gap-y-16 py-24;
  }

  .header {
    @apply flex flex-col items-center gap-4;
  }

  .username {
    @apply font-medium;
  }
</style>
