---
import { Logo } from "../../molecules/logo/logo";
import { Menu } from "../../molecules/menu/menu";
---

<nav class="relative z-50 h-24 select-none">
  <div
    class="container relative max-w-7xl flex flex-wrap items-center justify-between h-24 mx-auto overflow-hidden font-medium md:overflow-visible px-4 lg:px-0"
  >
    <Logo />
    <Menu client:load />
  </div>
</nav>
