---
import { Logo } from '../../molecules/logo/logo'
import Menu from '../../molecules/menu/menu.astro'
import { ThemeModeToggle } from '../../molecules/theme-mode-toggle/theme-mode-toggle'
---

<nav class="relative z-50 h-20 select-none">
  <div
    class="container relative max-w-7xl flex flex-wrap items-center justify-between h-20 mx-auto overflow-hidden font-medium md:overflow-visible px-4 xl:px-0"
  >
    <Logo />
    <Menu />
    <ThemeModeToggle client:only="react" />
  </div>
</nav>
