---
import { NewUrls } from '@/core/ui/urls/urls'
import Layout from '@/layouts/layout.astro'
import { MeetupsLocator } from '@/meetups/di/meetups.locator'
import MeetupsGrid from '@/meetups/presentation/server/components/meetups-grid/meetups-grid.astro'
import { ProvincesLocator } from '@/provinces/di/provinces.locator'
import GradientTitle from '@/ui/components/gradient-title/gradient-title.astro'
import Link from '@/ui/components/link/link.astro'
import Pagination from '@/ui/components/pagination/pagination.astro'

const searchParams = new URL(Astro.request.url).searchParams
const page = searchParams.get('page') ? Number(searchParams.get('page')) : 1
const provinceParam = searchParams.get('province')
let province = undefined

if (provinceParam) {
  province = await ProvincesLocator.getProvinceQuery().execute({ id: provinceParam })
}

const { data: meetups, totalPages } = await MeetupsLocator.getNextMeetupsQuery().execute({
  count: 9,
  page,
  location: province?.name,
})
---

<Layout title="eventos.wiki - Meetups">
  <div class="flex items-center justify-between mb-2">
    <GradientTitle>Meetups</GradientTitle>
    <Link href={NewUrls.PAST_MEETUPS} classes="text-right  shrink-0">Ver pasados</Link>
  </div>
  <MeetupsGrid meetups={meetups} />
  <section class="mt-4">
    <Pagination totalPages={totalPages} page={page} />
  </section>
</Layout>
