---
import Logo from '@/ui/components/logo/logo.astro'
import DesktopMenu from '@/ui/components/menu/desktop-menu.astro'
import UserMenu from '@/users/presentation/server/components/user-menu/user-menu.astro'
import Link from '../link/link.astro'
import MobileMenu from '../menu/mobile-menu.astro'
import UserAvatarSkeleton from '../user-avatar/user-avatar-skeleton.astro'
import { Urls } from '@/ui/urls/urls'

const hasActiveSession = Astro.locals.user !== null
const userId = Astro.locals.user?.id
---

<header class="header">
  <Logo />
  <DesktopMenu />
  <section class="actions">
    <Link
      classes="add-event-link"
      variant="outline"
      href="https://github.com/achamorro-dev/eventoswiki/issues/new?assignees=achamorro-dev&labels=enhancement&projects=&template=solicitud-nuevo-evento.yaml&title=A%C3%B1adir+nuevo+evento%3A+"
      target={'_blank'}
    >
      Añadir evento
    </Link>
    <!-- {
      !hasActiveSession && (
        <Link href={Urls.LOGIN} variant="primary">
          Iniciar sesión
        </Link>
      )
    } -->
    {
      hasActiveSession && userId && (
        <UserMenu userId={userId} server:defer>
          <UserAvatarSkeleton slot="fallback" />
        </UserMenu>
      )
    }
  </section>
</header>
<MobileMenu />

<style>
  .header {
    @apply z-20 flex h-14 items-center justify-between bg-background px-4 dark:bg-background-dark md:sticky md:top-0 lg:h-16 lg:px-8;
  }

  .actions {
    @apply flex items-center gap-4;
  }

  .add-event-link {
    @apply hidden md:block;
  }
</style>
