@reference "../../../../../../styles/global.css";

.calendar-wrapper {
  height: 800px;
}

.rbc-calendar *,
.rbc-overlay,
.rbc-overlay-header {
  @apply !border-gray-200 dark:!border-gray-700;
}

.rbc-overlay {
  @apply dark:bg-background dark:text-foreground;
}

.rbc-month-view {
  @apply rounded-b-md;
}

div.rbc-month-view .event,
div.rbc-time-view .event,
div.rbc-overlay .rbc-event.event {
  @apply rounded-md text-sm font-medium;
  color: var(--event-color, var(--primary));
  border: 1px solid color-mix(in srgb, var(--event-background-color, var(--primary)) 25%, white);
  background-color: color-mix(in srgb, var(--event-background-color, var(--primary)) 10%, white);
}

html.dark .rbc-month-view .event,
html.dark .rbc-time-view .event,
html.dark .rbc-overlay .rbc-event.event {
  @apply rounded-md text-sm font-medium;
  color: color-mix(in srgb, var(--event-color, var(--primary)) 25%, white);
  border: 1px solid color-mix(in srgb, var(--event-background-color, var(--primary)) 75%, white);
  background-color: color-mix(in srgb, var(--event-background-color, var(--primary)) 25%, transparent);
}

div.rbc-row-segment {
  @apply px-1;
}

.big-calendar .rbc-time-header-cell span,
.big-calendar .rbc-time-slot span {
  @apply font-sans text-base;
}

div.rbc-header,
div.rbc-agenda-view table.rbc-agenda-table thead > tr > th,
div.rbc-overlay-header {
  @apply text-foreground px-2 py-2 text-sm font-normal;
}

.rbc-calendar span,
.rbc-calendar button,
.rbc-calendar th,
.rbc-calendar td {
  @apply dark:text-white;
}

.rbc-agenda-table {
  @apply table-fixed md:table-auto;
}

div.rbc-agenda-date-cell,
div.rbc-agenda-time-cell {
  @apply w-1/3 whitespace-normal md:w-auto md:whitespace-nowrap;
}

div.rbc-agenda-date-cell,
div.rbc-agenda-event-cell,
div.rbc-agenda-time-cell span {
  @apply text-base font-light;
}

.rbc-toolbar-label {
  @apply absolute text-primary text-xl font-medium;
}

div.rbc-toolbar {
  @apply relative h-16 mb-0 gap-4 rounded-t-md border border-b-0 p-4;
}

div.rbc-toolbar button {
  @apply focus:bg-gray-100 dark:focus:bg-gray-400;
}

div.rbc-off-range-bg {
  @apply bg-muted text-muted-foreground;
}

.rbc-today {
  @apply !bg-primary/25 !opacity-75;
}

div.rbc-toolbar .rbc-btn-group {
  @apply absolute right-4;
}

.rbc-btn-group button {
  @apply hover:bg-muted rounded-md text-sm font-medium;
}

.rbc-active {
  @apply !bg-primary !text-primary-foreground !shadow-none;
}

button.rbc-button-link {
  @apply m-1 mr-0 rounded-full p-2 text-sm leading-none text-black/75 dark:text-white;
}

.rbc-show-more {
  @apply dark:bg-background px-2 text-sm font-medium hover:bg-gray-100 dark:text-white dark:hover:bg-gray-800;
}

.rbc-date-cell.rbc-now button {
  @apply bg-primary text-primary-foreground;
}

.rbc-agenda-empty {
  @apply rounded-b-md border border-gray-200 px-2 py-4 text-sm font-normal dark:border-gray-700;
}

/* Event Card Styles */
.event-card {
  background-color: color-mix(in srgb, var(--event-background-color) 10%, white);
  border-color: color-mix(in srgb, var(--event-background-color) 25%, white);
  color: var(--event-color);
}

html.dark .event-card {
  background-color: color-mix(in srgb, var(--event-background-color) 25%, transparent);
  border-color: color-mix(in srgb, var(--event-background-color) 75%, white);
  color: color-mix(in srgb, var(--event-color) 25%, white);
}

.agenda-day-with-events {
  @apply text-primary;
}
