---
import { type ClassesComponent } from '../../classnames/classes-component'
interface Props extends astroHTML.JSX.AnchorHTMLAttributes, ClassesComponent {
  selected?: boolean
  variant?: 'primary' | 'outline' | 'subtle' | 'ghost'
}
const { classes, selected = false, variant = 'ghost', ...rest } = Astro.props
---

<a class:list={['link', `link-${variant}`, `link-${variant}-${selected ? 'selected' : ''}`, classes]} {...rest}>
  <slot />
</a>

<style>
  @reference "../../../../../../styles/global.css";

  .link {
    @apply inline-block rounded-full text-center text-sm font-medium hover:underline;
  }

  .link-ghost {
    @apply text-foreground dark:text-foreground;
  }

  .link-ghost-selected {
    @apply text-primary dark:text-primary;
  }

  .link-primary,
  .link-outline,
  .link-subtle {
    @apply border border-transparent px-4 py-2;
  }

  .link-primary {
    @apply border-primary bg-primary hover:bg-primary dark:border-primary dark:bg-primary dark:hover:bg-primary text-white dark:text-white;
  }

  .link-primary-selected {
    @apply text-white dark:text-white;
  }

  .link-outline {
    @apply border-primary text-primary dark:border-primary-foreground dark:text-primary-foreground;
  }

  .link-subtle {
    @apply border-border bg-background text-foreground hover:bg-background dark:border-border dark:bg-background dark:text-foreground dark:hover:bg-background;
  }
</style>
