---
import ProvincesList from '@/provinces/presentation/server/components/provinces-list/provinces-list.astro'
import Footer from '@/ui/components/footer/footer.astro'
import Header from '@/ui/components/header/header.astro'
import '@fontsource-variable/inter'
import BaseHead from './components/base-head.astro'

interface Props {
  title: string
  description?: string
  image?: string
  url?: string
}

const { title, description, image, url } = Astro.props
---

<!doctype html>
<html lang="es">
  <BaseHead title={`${title} - eventos.wiki`} description={description} image={image} url={url} />
  <body>
    <Header transition:persist />
    <slot />
    <Footer transition:persist>
      <ProvincesList />
    </Footer>
    <style is:global>
      html {
        @apply scroll-smooth;
      }

      html *:focus-visible,
      body *:focus-visible {
        @apply outline-none ring-2 ring-primary;
      }

      .skeleton {
        @apply animate-pulse bg-gray-200 dark:bg-gray-700;
      }
    </style>
  </body>
</html>
