---
import BaseLayout from './base-layout.astro'

interface Props {
  title: string
  description?: string
  classes?: string
}

const { title, description, classes, ...rest } = Astro.props
---

<BaseLayout title={title} description={description}>
  <main class:list={['pb-12 px-4 lg:px-8 pt-4 md:pt-8', classes]} {...rest}>
    <slot />
  </main>
  <style is:global>
    body {
      @apply m-0 grid min-h-full grid-rows-[auto_1fr_auto] bg-background text-foreground dark:bg-background-dark dark:text-foreground-dark;
    }
  </style>
</BaseLayout>
