---
import Container from '@/ui/components/container/container.astro'
import BaseLayout from './base-layout.astro'

interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props
---

<BaseLayout title={title} description={description}>
  <main>
    <Container>
      <slot />
    </Container>
  </main>
  <style is:global>
    body {
      @apply m-0 grid min-h-full grid-rows-[auto_1fr_auto] bg-background text-foreground dark:bg-background-dark dark:text-foreground-dark;
    }
  </style>
</BaseLayout>
