---
import { Container } from "../core/components/atoms/container/container";
import BaseHead from "../core/components/base-head.astro";
import Footer from "../core/components/organisms/footer/footer.astro";
import Header from "../core/components/organisms/header/header.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <BaseHead title={title} description={description} />
  <body
    class="bg-white dark:bg-slate-800 grid min-h-full m-0 grid-rows-[auto_1fr_auto]"
  >
    <Header />
    <main>
      <Container>
        <slot />
      </Container>
    </main>
    <Footer />
    <style>
      :global(html) {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        height: 100%;
      }

      :global(h1) {
        font-size: var(--font-size-xl);
      }

      :global(h2) {
        font-size: var(--font-size-lg);
      }

      :global(code) {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
          DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
