---
import BaseLayout from './base-layout.astro'

interface Props {
  title: string
  description?: string
  classes?: string
}

const { title, description, classes, ...rest } = Astro.props
---

<BaseLayout title={title} description={description}>
  <main id="main" class:list={['h-full min-h-[calc(100vh-12rem)] pb-12 px-4 lg:px-8 pt-4 md:pt-8', classes]} {...rest}>
    <slot />
  </main>
  <style is:global>
    @reference "../styles/global.css";

    body {
      @apply bg-background text-foreground dark:bg-background dark:text-foreground m-0 grid min-h-full grid-rows-[auto_auto_1fr_auto];
    }
  </style>
</BaseLayout>
