---
import VisuallyHidden from '@/ui/components/visually-hidden/visually-hidden.astro'
import OrganizationCardSkeleton from '../organization-card-skeleton/organization-card-skeleton.astro'

interface Props {
  totalElements?: number
}

const { totalElements = 9 } = Astro.props
---

<article>
  <VisuallyHidden>Cargando organizaciones</VisuallyHidden>
  <ul class="grid-list">
    {
      new Array(totalElements).fill(0).map(_ => {
        return (
          <li>
            <OrganizationCardSkeleton />
          </li>
        )
      })
    }
  </ul>
</article>

<style>
  @reference "../../../../../../styles/global.css";

  .grid-list {
    @apply grid grid-cols-1 items-stretch gap-4 md:grid-cols-2 lg:grid-cols-3 lg:gap-12 2xl:grid-cols-4;
  }
</style>
