---
import { Button } from '../../../core/components/atoms/button/button'
import { GradientTitle } from '../../../core/components/atoms/gradient-title/gradient-title'
import { Link } from '../../../core/components/atoms/link/link'
import EventsGrid from '../../../core/components/organisms/events-grid/events-grid.astro'
import type { AstroEvent } from '../../../core/events/astro-event'
import { EventUtils } from '../../../core/events/event-utils'
import Layout from '../../../layouts/layout.astro'

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const events = (await Astro.glob('../../eventos/**/*.mdx')) as AstroEvent[]
  const eventsFiltered = EventUtils.getLastEvents(events)
  const eventsSortered = EventUtils.sortByStartDateDesc(eventsFiltered)
  return paginate(eventsSortered, { pageSize: 9 })
}

const { page } = Astro.props
const nextPage = page.url.next
const prevPage = page.url.prev
---

<Layout title="eventos.wiki - Eventos pasados">
  <div class="flex items-center justify-between mt-4 mb-10">
    <GradientTitle>Pr칩ximos eventos</GradientTitle>
    <Link href="/eventos/1" className="text-right">Ver pr칩ximos</Link>
  </div>
  <EventsGrid events={page.data} />
  <div class="flex justify-between mt-8">
    {
      prevPage ? (
        <Button type="link" variant="text" href={prevPage}>
          P치gina anterior
        </Button>
      ) : (
        <div />
      )
    }
    {
      nextPage && (
        <Button type="link" href={nextPage}>
          Siguiente p치gina
        </Button>
      )
    }
  </div>
</Layout>
