---
import type { AstroEvent } from '../../../events/astro-event'
import { EventUtils } from '../../../events/event-utils'
import { GradientTitle } from '../../atoms/gradient-title/gradient-title'
import { Link } from '../../atoms/link/link'
import EventsGrid from '../events-grid/events-grid.astro'

const events = (await Astro.glob('../../../../pages/eventos/**/*.mdx')) as AstroEvent[]

const { location } = Astro.props

const locationName = EventUtils.getLocationName(events, location)

const lastEventsFiltered = EventUtils.getLastEvents(events, { location })
const lastEvents = EventUtils.sortByStartDateDesc(lastEventsFiltered).slice(0, 6)
---

<section class="mt-12">
  <div class="flex items-center justify-between mt-4 mb-10">
    <GradientTitle>Últimos eventos{locationName && ` en ${locationName}`}</GradientTitle>
    <Link href="/eventos/archivados/1" className="text-right">Ver más</Link>
  </div>
  {lastEvents.length === 0 && <p class="opacity-50">Aún no hay información sobre eventos pasados</p>}
  <EventsGrid events={lastEvents} />
</section>
