---
import { EventsGrid } from "../../organisms/events-grid/events-grid";
import type { AstroEvent } from "../../../events/astro-event";
import { EventUtils } from "../../../events/event-utils";

const events = (await Astro.glob(
  "../../../../pages/eventos/**/*.mdx"
)) as AstroEvent[];
const lastEventsFiltered = EventUtils.getLastEvents(events);
const lastEvents = EventUtils.sortByStartDateDesc(lastEventsFiltered).slice(
  0,
  6
);
---

<section class="mt-12">
  <h2
    class="mb-3 text-3xl font-extrabold leading-none text-gray-900 dark:text-gray-50 lg:text-4xl xl:text-5xl sm:mb-3"
  >
    Últimos eventos
  </h2>
  <EventsGrid events={lastEvents} />
</section>
